.navbar {
  height: 100px;

  .wrapper {
    
    max-width: 1366px; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--sans);
    padding: 2rem;
    height: 100%;

    h1 a {
      font-family: var(--sans);
      color: white;
      text-decoration: none;
      [class*="fa-"] {
        color: var(--aqua);
      }
    }

    .social {
      display: block;
      
      [class*="fa-"] {
        font-size: 200%;
        margin-right: 20px;
         color: var(--aqua);
        &:hover {
          color: var(--magenta);
        }
      }
    }
  }
}
